
body 
{
    font-size:12px;
   

}
.Sup
{
    padding-right: 6px;
	outline-color:Blue;
	vertical-align: top;
	text-transform: capitalize;
	width: 145px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	height: 10px;
	text-align: left;
	white-space:nowrap;
	font-weight:bold;
	font-size:10px;
	color:Navy;
}
.LabelCaption
{
	padding-right: 6px;
    outline-color: Blue;
    vertical-align: middle;
    text-transform: capitalize;
    width: 145px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    height: 10px;
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    color: Navy;

}
.LabelHeading
{
	padding-right: 6px;
	outline-color:Blue;
	vertical-align: middle;
	text-transform: capitalize;
	width: 145px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	height: 20px;
	text-align: left;
	white-space:nowrap;
	font-weight:bold;
	font-size:24px;
	color:Navy;
}
.Label
{
	font-family: Verdana;
    text-align: right;
    white-space: nowrap;
    outline-color: Blue;
    font-weight: bold;
    height: 10px;
    font-size: 12px;
    color: Navy;
}
.Checkbox
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align:right;
	font-weight:bold;
	font-size:12px;
	color:Navy;
}

.LabelItalics
{
	font-family: Verdana,Arial, Helvetica,  sans-serif;
	text-align:right;
	white-space:nowrap;
	outline-color:Red;
	font-style:italic;
	text-align:right;
	height: 10px;
	font-size:10px;
	color:Red;
	
}
.LabelValue
{
	font-family: Verdana,Arial, Helvetica,  sans-serif;
	text-align:left;
	white-space:nowrap;
	outline-color:Blue;
    display:inline;
	font-weight:Normal;
	font-size:12px;
	
}

.GridLabel
{
	font-family: Verdana,Arial, Helvetica,  sans-serif;
	text-align:right;
	white-space:nowrap;
	outline-color:Blue;
	font-weight:normal;
	height: 10px;
	font-size:12px;
	width:300px;
}
.SubLabelCaption
{
    font-family: Verdana,Arial, Helvetica,  sans-serif;
	text-align:right;
	white-space:nowrap;
	text-decoration:underline;
	font-weight:bold;
}

.divTableGrid
{
    width:1085px;
	overflow:auto;
	white-space:nowrap;
	
}
.divGrid
{
    width:1070px;
	overflow:auto;
	white-space:nowrap;
	
}

.divGrid td
{
    white-space:nowrap;
}

.divTextBox
{
	width:910px;
	height:300px; 
	background-color:#EAF4FC;
	font-family: Courier New;
	border:solid .3px #CCE5F2;
	overflow: scroll; 
	
}

.Error
{
	padding-right: 6px;
	vertical-align: middle;
	font-family: Verdana,Arial, Helvetica,  sans-serif;
	height: 10px;
	text-align: left;
	color:Red;
}
.LabelSubHeading
{
	padding-right: 6px;
	vertical-align: middle;
	width: 145px;
	font-family: Verdana,Arial, Helvetica,  sans-serif;
	height: 10px;
	text-align: left;
	white-space:nowrap;
}
.LabelDisclaimer
{
	padding-right: 6px;
	vertical-align: middle;
	border-style:groove;
	border-width:thin;
	width: 145px;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	height: 10px;
	text-align: left;
	
}
.Table
{
	border-width:thin;
	border-color:Black;
	text-align: left;
	padding:0; 
	vertical-align: bottom;
	
}

.CustInfoTable
{
    border:none;
	text-align: left;
	padding:0; 
	vertical-align: bottom;
    background-color:#00007B;
    color:White;
    font-weight:bold;
}

.GridTable
{
	border:none;
	text-align: left;
	padding:0; 
	vertical-align: bottom;
}

.mnuTable
{
	border-width:thin;
	border-color:Black;
	text-align: left;
	padding:0 0 0 0; 
	vertical-align: bottom;
	border-left:solid 1px black;
	border-right:solid 1px black;
	border-top:solid 1px black;
	border-bottom-style:none;
		
}
.mnuDetailtab
{
border:none;		
}

.DetailsTable
{
	background-color:#F7FFF7;
	border-left:solid 1px black;
	border-right:solid 1px black;
	border-bottom:solid 1px black;
	border-top-style:none;
	padding:0; 
	vertical-align: bottom;
}

.Table
{
	border:Solid 1px black;
}
.Panel
{
	border:solid 1px blue;
	margin-left:20px;
	
}

.TextBox
{
	vertical-align: middle;
	font-family: Verdana,Arial, Helvetica,  sans-serif;
	text-align: left;
	background-color:#EAF4FC;
	border-color:#CCE5F2;
	width:auto;
	border-style:groove;
	
	}
	
	.LargeTextBox
{
	vertical-align: middle;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	background-color:#EAF4FC;
	border-color:#CCE5F2;
	width:200px;	
}

.Div
{
 overflow:auto;   
 width:auto;
 
}
	
	
	.DropDownList
{
	font-family: Verdana,Arial, Helvetica, sans-serif;
	text-align: left;
	white-space:nowrap;
	border-color:#CCE5F2;
	border-style:groove;
    width: 300px;
}
	
.TableCell
{
    width:200px;
}

.CheckBox
{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	white-space: nowrap;
	width:208px;
}
.HyperLink
{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size:12px;
 font-style:normal;
 font-weight:bold;
 
}
.Button
{
	cursor:pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:bold;
    display: -moz-inline-box;
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 1px;
    line-height: 19px;
    background-position: left top;
    background-repeat: no-repeat;
    

}
.menuTabs
{
    top:10px;
    left:10px;
    width:100px;
    font-family:Arial, Helvetica,Verdana, sans-serif;
    font-size: 12px;
    
    padding:0 0 0 0;
     
}
.tab
{
    border:Solid 1px black;
    padding:0px 10px;
    color:Black;
    background-color:Gainsboro;
    border-bottom:Solid 1px black;
}
.selectedTab
{
    border:Solid 1px black;
    border-collapse:separate;
    border-bottom:Solid 1px white;
    padding:0px 10px; 
    background-color:White;
    color:Black;
    font-weight:bold;
}
.tabBody
{
    border:Solid 1px black;
    background-color:white;
    padding: 0 0 0 0;
}

.tableHeading
{
    background-color:#80838E;
    color: White;
}
.HR
{
	border:solid 1px #FFFFFF;
	}

input[type="text"]
{
    border: 0.01em solid;
	border-color:#CCE5F2;
	background-color:#EAF4FC;
		}

HyperLink
{
    font-family: Verdana,Arial, Helvetica,  sans-serif;
     font-size:12px;
     font-weight:normal;
     color:Blue;
}

a:visited
{
    color:blue;
}

A:Hover
{
     color:Red;
}

.blankrow
{
    height:8px;
}
.InnerTable
{
    border-bottom: solid 1px black;
     width:100%;
}



.GridViewStyle
{
    font-family: verdana,Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border:#91a7b4 1px solid;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background-image: url(Images/YahooSprite.gif);
    background-position:top;
    background-repeat:repeat-x;
    background-color:#d1dbe0;
}
.HeaderStyle th
{
    padding: 5px;
    color: #16387c;
}
.HeaderStyle a
{
    text-decoration:none;
    color:#16387c;
    display:block;
    text-align:left;
    font-weight:normal;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:5px;
}
.PagerStyle td
{
    border-top: #91a7b4 1px solid;
}
.PagerStyle a
{
    color:#16387c;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #91a7b4;
    border-right:solid 1px #91a7b4;
    border-bottom:solid 1px #91a7b4;
    border-left:solid 1px #fff;
}
.PagerStyle span
{
    font-weight:bold;
    color:#16387c;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #91a7b4;
}
.RowStyle td
{
    background-color: #f1f5f6;
}
.AltRowStyle td
{
    background-color: #9ab2ca;
	background-image: url(Images/YahooSprite.gif);
    background-position:0 -80px;
    background-repeat:repeat-x;
}
.SelectedRowStyle td
{
    background-color: #fcb814;
	background-image: url(Images/YahooSprite.gif);
    background-position:center;
    background-repeat:repeat-x;
}

.popUpStyle
  {
        
        height:600px;
        width:1000px;
        overflow:scroll;
        margin:0 auto;                 
    }
  .modalBackground 
  {
            
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        opacity: 0.5;
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
    }

 .drag
    {
         background-color: #dddddd;
         border:solid 2px black ;
         overflow:scroll;
    }

.BlockQuote
{
 font-family: Arial, Sans-Serif;
 font: normal 12px;
  width: 193px;
}