<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="Wei" type="Telavance.AdvantageSuite.Wei.WeiCommon.WeiConfiguration,WeiCommon" />
    <section name="Chips" type="Telavance.AdvantageSuite.Wei.ChipsParser.ChipsConfigurationSection, ChipsParser" />
  </configSections>

  <Chips translateAllTags="false">
    <Tags>
      <Tag id="3620"/>
      <Tag id="4000"/>
      <Tag id="4100"/>
      <Tag id="4200"/>
      <Tag id="4300"/>
      <Tag id="4320"/>
      <Tag id="5000"/>
      <Tag id="5010"/>
      <Tag id="5100"/>
      <Tag id="5200"/>
      <Tag id="6000"/>
      <Tag id="6100"/>
      <Tag id="6200"/>
      <Tag id="6210"/>
      <Tag id="6300"/>
      <Tag id="6400"/>
      <Tag id="6410"/>
      <Tag id="6500"/>
      <Tag id="7050"/>
      <Tag id="7052"/>
      <Tag id="7056"/>
      <Tag id="7057"/>
      <Tag id="7059"/>
      <Tag id="7070"/>
      <Tag id="7072"/>
      <Tag id="7410"/>
      <Tag id="7420"/>
      <Tag id="7500"/>
      <Tag id="7600"/>
      <Tag id="8250"/>
      <Tag id="8300"/>
      <Tag id="8350"/>
      <Tag id="9000"/>
      </Tags>
    
  </Chips>

  
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="WeiService" formatter="EventLog Formatter" log="" machineName="."
        traceOutputOptions="None" filter="Error" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="logs/Wei.log" footer="" formatter="LogFile Formatter"
        header="" rollInterval="Midnight" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="EventLog Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="{timestamp(local)}:{category}:{priority}: {eventid}: {severity}: {threadName}:{message}"
        name="LogFile Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="WeiDB" />
  <connectionStrings>
    <add name="WeiDB" connectionString="Data Source=(local);Initial Catalog=WEI 2015-03-11;Integrated Security=True;Pooling=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Wei threadPoolSize="25" applyCustomName="true" customName="CTC" requiresReview="true" searchString= "*" replaceString =" ">
    <Translator currentTranslationProvider="google" currentLanguage="zh-tw" ctcDeterminingCount="2" noOfRetries="5" ctcAllowedChars=",.">
      <MapFiles>
        <MapFile description="CTC map for chinese traditional" language="zh-tw" path="D:\Muthukrishnan\1Projects\WEI\WEI\Source-012013 - 2015-03-11\MAIN\Source\WeiService\data\Traditional Chinese.ctc.map" keyindex="0"  valueindex="1"/>
        <!--<MapFile description="CTC map for chinese simplified (bing)" language="zh-CHS" path="D:\Muthukrishnan\1Projects\WEI\WEI\Source-012013 - 2015-03-11\MAIN\Source\WeiService\data\simplified Chinese.ctc.map" keyindex="0"  valueindex="1"/>-->
        <MapFile description="CTC map for chinese simplified (google)" language="zh-CN" path="D:\Muthukrishnan\1Projects\WEI\WEI\Source-012013 - 2015-03-11\MAIN\Source\WeiService\data\simplified Chinese.ctc.map" keyindex="0"  valueindex="1"/>
        </MapFiles>

      <Providers>
        <Provider name="google" className="Telavance.AdvantageSuite.Wei.WeiTranslator.GoogleTranslationProvider"  maxLength="5000" version="2.0" key="AIzaSyAxp6Zqf1ifY_w7OPC30zjtk-WhbLmj7eQ" uri ="https://www.googleapis.com/language/translate/v2"/>
        <Provider name="bing" className="Telavance.AdvantageSuite.Wei.WeiTranslator.BingTranslationProvider"  version="2.0" key="5F1390DD62482373E10E07DC5F55FDE6E5A78722" uri="http://api.microsofttranslator.com/V2/Http.svc/Translate"/>
      </Providers>

      <TranslationExceptions>
        <TranslationException id="1" expression="^H\.S CODE.*"/>
        <TranslationException id="2" expression="^([A-Za-z])([0-9]).*"/>
        <TranslationException id="3" expression="^DOS\S([0-9]).*"/>
        <TranslationException id="4" expression="^BENE PHONE NO\S([0-9]).*"/>
        <TranslationException id="5" expression="^A\S/^\S([0-9]).*"/>
        <TranslationException id="6" expression="^REF MOBILE CONTACT\S([0-9]).*" />
      </TranslationExceptions>
    </Translator>

    <Parsers>
      <!--param1 = xml elements to be translated param2=delimiter in the param1. param3=tagTocheck param4=rootNodetoAppend-->
      <!--<Parser name="XML" className ="Wei.XmlParser" param1="BENEFICIARY_SEQB.BENEFICIARY_ACCOUNT_SEQB" param2="." param3="PKEY" param4="Data"/>-->
      
      <!--<Parser name="XML" className ="Telavance.AdvantageSuite.Wei.WeiService.XmlParser" param1="ORIGINAL_TO_BENEFICIARY_INFO_SEQB,BENEFICIARY_SEQB.BENEFICIARY_ACCOUNT_SEQB" param2="." param4="Data"/>-->
      <!--ORG.ORG_ACCOUNT,,FLD57.FLD57_ACCOUNT,BNF.BNF_ACCOUNT,ORIGINATOR_SEQB.ORIGINATOR_ACCOUNT_SEQB,,CURRENCY_INSTRUCTED_AMOUNT_SEQB,BENEFICIARY_SEQB.BENEFICIARY_ACCOUNT_SEQB,FLD53.FLD53.FLD53_ACCOUNT,BNF.BNF_ACCOUNT,BENEFICIARY_SEQB.BENEFICIARY_ACCOUNT_SEQB,-->
      <!--<Parser name="XML" className="Telavance.AdvantageSuite.Wei.WeiService.XmlParser"  param1="SENDER.SENDER_ADDR,ORG.ORG_ADDR,FLD57.FLD57_ADDR,BNF.BNF_ADDR,ORIGINATOR_SEQB.ORIGINATOR_NAME_ADDR_SEQB,BENEFICIARY_SEQB.BENEFICIARY.BENEFICIARY_NAME_ADDR_SEQB,BENEFICIARY_SEQB.BENEFICIARY_NAME_ADDR_SEQB,ORIGINAL_TO_BENEFICIARY_INFO_SEQB,OGB.OGB_ADDR,BNF.BNF_ADDR,BBI,ORIGINATOR_SEQB.ORIGINATOR_NAME_ADDR_SEQB,BENEFICIARYBANK_SEQB.BENEFICIARYBANK_NAME_ADDR_SEQB,BENEFICIARY_SEQB.BENEFICIARY_NAME_ADDR_SEQB,BANK_TO_BANK_INFORMATION_SEQB" param2="."  param4="Data"/>-->
      <!--<Parser name="CHIPS" className="Telavance.AdvantageSuite.Wei.ChipsParser.ChipsParser"  dllName="ChipsParser.dll"/>-->
      <!--<Parser name="SWIFT" className="Telavance.AdvantageSuite.Wei.FileDriver.FileDriver"  dllName="FileDriver.dll"/>-->
    </Parsers>


    
    <Swift translateAllTags="true">
      <Tags>
        <Tag name="20"/>
        <Tag name="32A"/>
        <Tag name="54A"/>
        <Tag name="71A"/>
        <Tag name="59"/>
        <Tag name="70"/>
      </Tags>
    </Swift>
<!--
    <Proxy uri="http://localhost:9000" bypassLocal="false">
      <Credential>
        <KeyValuePair key="username" value="testuser"/>
        <KeyValuePair key="password" value="testpassword"/>
      </Credential>
      <Bypass>
        <Url name="localhost"/>
      </Bypass>
    </Proxy>-->
  </Wei>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="weiMonitoringServiceBehavior"
        name="Telavance.AdvantageSuite.Wei.WeiService.WeiMonitoring">
        <endpoint address="" binding="basicHttpBinding" name="basicHttpBinding"
          contract="Telavance.AdvantageSuite.Wei.WeiService.IWeiMonitoring" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WeiMonitoring/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="weiMonitoringServiceBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
