<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings,Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
	<section name="Wei" type="Telavance.AdvantageSuite.Wei.WeiCommon.WeiConfiguration,WeiCommon"/>
	</configSections>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="WeiDashboard" formatter="EventLog Formatter" log="" machineName="." traceOutputOptions="None" filter="Error"/>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="logs/Wei.log" footer="" formatter="LogFile Formatter" header="" rollInterval="Midnight"/>
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="EventLog Formatter"/>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)}:{category}:{priority}: {eventid}: {severity}: {threadName}:{message}" name="LogFile Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Event Log Listener"/>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Listener"/>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<dataConfiguration defaultDatabase="WeiDB"/>
	<connectionStrings>
		<!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
		<add name="WeiDB" connectionString="Data Source=BRIHASPATHY\SQLEXPRESS;Initial Catalog=WEI;User ID=sa; Password=admin123" providerName="System.Data.SqlClient"/>
    <!--<add name="WeiDB" connectionString="Data Source=VSSCLOUDAPP1;Initial Catalog=weiDB;User ID=sa; Password=admin!23" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<add key="GridPaging" value="10"/>
		<add key="GridRefresh" value="30000"/>
		<!--<add key="Requests" value="ID:ID,Name:Message ID,InterfaceName:Interface Name,Description:Status,IsError:Errors,OFACStatus:OFAC Violation,CreatedDateTime:Create Date,ModifiedDateTime:Modified Date" />
    <add key="RequestDetails" value="messagebody:Original Message,translatedmessage:Translated Message,responsemessage:Response Message" />
    <add key="Audit" value="ID:ID,Description:Audit Status,Level:Level,CreatedDateTime:Create Date,Message:Audit Message " /> -->
		<add key="support" value="Please contact help desk for any support related issues."/>
		<add key="DefaultSupportEmailAddressKey" value="Email:"/>
		<add key="DefaultSupportEmailAddress" value="support@telavance.com"/>
		<add key="DefaultSupportTelephoneNumberKey" value="Tel:"/>
		<add key="DefaultSupportTelephoneNumber" value="732-527-0724 Ext 202"/>
	</appSettings>
	<Wei threadPoolSize="25" applyCustomName="true" CustomName="CTC">
		<Translator currentTranslationProvider="google" currentLanguage="zh-tw" ctcDeterminingCount="2" noOfRetries="5" ctcAllowedChars=",.">
			<MapFiles>
				<MapFile description="CTC map for chinese traditional" language="zh-tw" path="C:\Telavance\Development\Wei\code\WeiService\data\Traditional Chinese.ctc.map" keyindex="0" valueindex="1"/>
				<MapFile description="CTC map for chinese simplified (bing)" language="zh-CHS" path="C:\Telavance\Development\WEI\code\WeiService\data\simplified Chinese.ctc.map" keyindex="0" valueindex="1"/>
				<MapFile description="CTC map for chinese simplified (google)" language="zh-CN" path="C:\Telavance\Development\WEI\code\WeiService\data\simplified Chinese.ctc.map" keyindex="0" valueindex="1"/>
			</MapFiles>
			<Providers>
				<Provider name="google" className="Telavance.AdvantageSuite.Wei.WeiTranslator.GoogleTranslationProvider" key="AIzaSyCMab5swnNDuX1m6jDucig51qnnyszOef0" maxLength="5000" version="2.1"/>
				<Provider name="bing" className="Telavance.AdvantageSuite.Wei.WeiTranslator.BingTranslationProvider" key="5F1390DD62482373E10E07DC5F55FDE6E5A78722" version="2.0"/>
			</Providers>
		</Translator>
	</Wei>
	<system.web>
		<!--<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add tagPrefix="grd" namespace="WeiDashboard.GridViewControl" assembly="WeiDashboard"/>
			</controls>
		</pages> -->

    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false"/>
    </httpHandlers>
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" writeToDiagnosticsTrace="true"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="CustomErrorPage.aspx">
      <error statusCode="404" redirect="PageNotFound.aspx" />
    </customErrors>
	</system.web>
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
