<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings,Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <section name="Wei" type="Telavance.AdvantageSuite.Wei.WeiCommon.WeiConfiguration,WeiCommon"/>
    <section name="ADConfiguration" type="Telavance.AdvantageSuite.Wei.WeiCommon.ADConfigurationHandler, WeiCommon" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="TravelRuleApp" formatter="EventLog Formatter" log="" machineName="." traceOutputOptions="None" filter="Error" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="logs/travelruleui.log" footer="" formatter="LogFile Formatter" header="" rollInterval="Midnight" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="EventLog Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)}:{category}:{priority}: {eventid}: {severity}: {threadName}:{message}" name="LogFile Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="WeiDB" />
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="WeiDB" connectionString="Data Source=BRIHASPATHY\SQLEXPRESS;Initial Catalog=WEI;User ID=sa; Password=admin123" providerName="System.Data.SqlClient"/>-->
    <add name="WeiDB" connectionString="Data Source=VSSCLOUDAPP1;Initial Catalog=weiDB;User ID=sa; Password=admin!23" providerName="System.Data.SqlClient"/>

    <!--ADRP Active Directory Connection String-->
    <!--<add name="ADRPConnectionString" connectionString="LDAP://DC=idolainfo,DC=com" />-->
    <add name="ADRPConnectionString" connectionString="LDAP://DC=viswambara,DC=local" />
  </connectionStrings>
  <appSettings>
    <add key="GridPaging" value="10" />
    <add key="GridRefresh" value="30000" />
    <add key="TickerRefresh" value="10000" />
    <!--<add key="Requests" value="ID:ID,Name:Message ID,InterfaceName:Interface Name,Description:Status,IsError:Errors,OFACStatus:OFAC Violation,CreatedDateTime:Create Date,ModifiedDateTime:Modified Date" />
    <add key="RequestDetails" value="messagebody:Original Message,translatedmessage:Translated Message,responsemessage:Response Message" />
    <add key="Audit" value="ID:ID,Description:Audit Status,Level:Level,CreatedDateTime:Create Date,Message:Audit Message " /> -->
    <add key="support" value="Please contact help desk for any support related issues." />
    <add key="DefaultSupportEmailAddressKey" value="Email:" />
    <add key="DefaultSupportEmailAddress" value="support@telavance.com" />
    <add key="DefaultSupportTelephoneNumberKey" value="Tel:" />
    <add key="DefaultSupportTelephoneNumber" value="732-744-0066 Ext 202" />
    <add key="Fed" value="None" />
    <add key="Swift" value="MT199" />
    <add key="IsSecondApprovalOn" value="Yes" />
    <!--<add key="FEDParserFilePath" value="C:\Telavance\TravelRules\Source\TRAVELRULEDASHBOARD\Contents\FEDParser.xml" />-->
    <add key="ExportFilePath" value="C:\" />
    <add key="ExportFileName" value="TestFile" />
    <!--<add key="ReportServerUrl" value="http://adv-tr-dev/ReportServer_SQL2008" />-->
    <!--<add key="ReportFolder" value="TRSReports" />-->
    <!--<add key="TravelRuleSummaryReport" value="Travel Rule Summary" />-->
    <add key="ViolationDetailsByCustomerReport" value="Violation Details By Customer" />
    <add key="ViolationDetailsSummaryByMonthReport" value="Violation Details Summary By Month" />
    <!--<add key="TRSStatisticsByCustomer" value="TRS Statistics by Customer" />-->
  </appSettings>

  <!--<ADConfiguration LDAPConnectionString="LDAP://DC=idolainfo,DC=com"-->
  <ADConfiguration LDAPConnectionString="LDAP://DC=viswambara,DC=local"
                 Approver="wei_approvers"
                 Reviewer="wei_reviewers">
  </ADConfiguration>
  <Wei threadPoolSize="25" applyCustomName="true" CustomName="CTC">
    <Translator currentTranslationProvider="google" currentLanguage="zh-tw" ctcDeterminingCount="2" noOfRetries="5" ctcAllowedChars=",.">
      <MapFiles>
        <MapFile description="CTC map for chinese traditional" language="zh-tw" path="C:\Telavance\Development\Wei\code\WeiService\data\Traditional Chinese.ctc.map" keyindex="0" valueindex="1"/>
        <MapFile description="CTC map for chinese simplified (bing)" language="zh-CHS" path="C:\Telavance\Development\WEI\code\WeiService\data\simplified Chinese.ctc.map" keyindex="0" valueindex="1"/>
        <MapFile description="CTC map for chinese simplified (google)" language="zh-CN" path="C:\Telavance\Development\WEI\code\WeiService\data\simplified Chinese.ctc.map" keyindex="0" valueindex="1"/>
      </MapFiles>
      <Providers>
        <Provider name="google" className="Telavance.AdvantageSuite.Wei.WeiTranslator.GoogleTranslationProvider" key="AIzaSyCMab5swnNDuX1m6jDucig51qnnyszOef0" maxLength="5000" version="2.1"/>
        <Provider name="bing" className="Telavance.AdvantageSuite.Wei.WeiTranslator.BingTranslationProvider" key="5F1390DD62482373E10E07DC5F55FDE6E5A78722" version="2.0"/>
      </Providers>
    </Translator>
  </Wei>
  <system.web>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false"/>
    </httpHandlers>
    
    <httpRuntime requestValidationMode="2.0" />
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" writeToDiagnosticsTrace="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="AjaxControlToolkit, Version=4.1.40412.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="/pages/CustomErrorPage.aspx">
      <error statusCode="404" redirect="PageNotFound.aspx" />
      <error statusCode="500" redirect="InternalError.aspx" />
    </customErrors>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <authorization>
      <!--allow users="officebase\muthukrishnan" /-->
      <allow users="*" />
    </authorization>
    <!--<pages theme="LookAndFeel">
      <controls>
        <add assembly="AjaxControlToolkit, Version=4.1.40412.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" tagPrefix="AjaxToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Message1.aspx" />
      </files>
    </defaultDocument>    
  </system.webServer>
</configuration>